{{#each response}}

<div id="movie-info">
    <h2>"{{title}}"</h2>
    <img src="{{image}}" alt="movie" width="150px" />
    <br>
    <button>
        <a href="/movies/{{id}}">See more</a>
    </button>
</div>

{{/each}}